<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link type="image/x-icon" rel="shortcut icon" title="" href="https://www.lefou666.com/images/favicon.ico" />
    
    <meta name="Keywords" content="棋牌游戏开发，棋牌游戏定制，棋牌游戏代理，棋牌游戏平台，网络棋牌游戏，棋牌游戏赚钱，棋牌游戏开发公司，地方棋牌游戏开发，地方棋牌游戏定制。" />
    <meta name="Description" content="乐否互动是国内权威的棋牌游戏开发、棋牌游戏定制平台之一，棋牌游戏开发，棋牌游戏定制，棋牌游戏代理，10年专业开发经验，百人专业技术团队，上千款游戏案例。" />
    


    <link href="https://www.lefou666.com/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">

 


    <div class="header layout">
        <div class="logo fl">
            <a href="../" title="棋牌游戏开发">
                <img alt="" src="https://www.lefou666.com/images/Logo.jpg" /></a></div>
        <div class="nmber fr">
            <span></span>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="nav">
        <div class="layout menu x_g">
            <ul>
                <li><a href="https://www.lefou666.com" title="棋牌开发">首页</a><span class="nav_bg"></span></li>
                <li><a target="_blank" href="https://www.lefou666.com/fk.html" title="房卡游戏开发">房卡棋牌平台</a><img src="../plmnhytf12f3/hot.gif" style="position: absolute;top: 5px;right: 0;width: 22px;z-index: 2;"><span class="nav_bg"></span></li>
				
		        <li><a target="_blank" href="https://www.lefou666.com/Mobile.html" title="手机棋牌游戏开发">手机棋牌</a><span class="nav_bg"></span></li>     
                <li class="over"><a target="_blank" href="https://www.lefou666.com/News.html" title="新闻中心">新闻中心</a><span class="nav_bg"></span></li>
                <li><a target="_blank" href="https://www.lefou666.com/Case.html" title="成功案例">成功案例</a><span class="nav_bg"></span></li>
                <li><a target="_blank" href="https://www.lefou666.com/About.html" title="联系我们">联系我们</a><span class="nav_bg"></span></li>
            </ul>
        </div>
    </div>
    <div class="clear">
    </div>
    <a href="/"> <div class="news_banner" id='_page'>
    </div></a>