<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link type="image/x-icon" rel="shortcut icon" title="" href="https://www.lefou666.com/images/favicon.ico" />
    
    <meta name="Keywords" content="棋牌游戏开发，棋牌游戏定制，棋牌游戏代理，棋牌游戏平台，网络棋牌游戏，棋牌游戏赚钱，棋牌游戏开发公司，地方棋牌游戏开发，地方棋牌游戏定制。" />
    <meta name="Description" content="乐否互动是国内权威的棋牌游戏开发、棋牌游戏定制平台之一，棋牌游戏开发，棋牌游戏定制，棋牌游戏代理，10年专业开发经验，百人专业技术团队，上千款游戏案例。" />
    


    <link href="https://www.lefou666.com/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">

 


    <div class="header layout">
        <div class="logo fl">
            <a href="" title="棋牌游戏开发">
                <img alt="" src="https://www.lefou666.com/images/Logo.jpg" /></a></div>
        <div class="nmber fr">
            <span></span>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="nav">
        <div class="layout menu x_g">
            <ul>
                <li><a href="https://www.lefou666.com" title="棋牌开发">首页</a><span class="nav_bg"></span></li>
                <li><a target="_blank" href="https://www.lefou666.com/fk.html" title="房卡游戏开发">房卡棋牌平台</a><img src="../plmnhytf12f3/hot.gif" style="position: absolute;top: 5px;right: 0;width: 22px;z-index: 2;"><span class="nav_bg"></span></li>
				
		        <li><a target="_blank" href="https://www.lefou666.com/Mobile.html" title="手机棋牌游戏开发">手机棋牌</a><span class="nav_bg"></span></li>     
                <li class="over"><a target="_blank" href="https://www.lefou666.com/News.html" title="新闻中心">新闻中心</a><span class="nav_bg"></span></li>
                <li><a target="_blank" href="https://www.lefou666.com/Case.html" title="成功案例">成功案例</a><span class="nav_bg"></span></li>
                <li><a target="_blank" href="https://www.lefou666.com/About.html" title="联系我们">联系我们</a><span class="nav_bg"></span></li>
            </ul>
        </div>
    </div>
    <div class="clear">
    </div>
    <a href="/"> <div class="news_banner" id='_page'>
    </div></a>
{% block page_content %}
<div class="news_con layout1000">
    <div class="news_tex">
        <div class="news_text_tit">
            <h4>
                {{art.title}}</h4>
            <span class="fl" style="margin-right: 20px">发布日期：{{art.addtime}}</span>
            <div class="fanhui fr">
               <!-- <a href="../News_1_334.html#_page">返回列表</a>-->
<a href="/">首页</a> > <a href="">新闻中心</a>

</div>
        </div>
        <div class="news_text_con">
            
                werweqrwqerqwer
                {{art.content}}
            
        </div>
        <div class="news_last_next">
            <!--Previous_Next-->
            
            <!-- <p>
                <a href="/News/News_Info_2294.html">上一篇：
                    怎样快速地开发一款棋牌游戏，需要多长时间?</a>
            </p> -->
            
            <!--Previous_Next-->
        </div>
    </div>
    <div class="news_tab">
        <ul>
            <li class="over" rel="334"><a title="手机棋牌" href="#">公司新闻</a></li>
            <li rel="335"><a title="专业棋牌" href="#">业界新闻</a> </li>
            <li rel="339"><a title="棋牌开发" href="#">运营网摘</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% extends 'design/footer.html' %}
