<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link type="image/x-icon" rel="shortcut icon" title="" href="https://www.lefou666.com/images/favicon.ico" />
    <title>棋牌游戏新闻中心_乐否互动【官网】</title>
    <meta name="Keywords" content="棋牌游戏新闻，手机棋牌游戏开发，手机棋牌游戏定制，棋牌游戏开发公司，棋牌游戏平台，网络棋牌游戏，棋牌游戏赚钱，地方棋牌游戏开发，地方棋牌游戏定制" />
    <meta name="Description" content="乐否互动是国内权威的棋牌游戏开发、棋牌游戏定制平台之一，棋牌游戏开发，棋牌游戏定制，棋牌游戏开发公司，10年专业开发经验，百人专业技术团队，上千款游戏案例" />
    <link href="https://www.lefou666.com/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://www.lefou666.com/css/page.css" rel="stylesheet" type="text/css" />
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0c455b38ae80f55d40e5b4056d8dabfc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">



    <div class="header layout">
        <div class="logo fl">
            <a href="#" title="棋牌游戏开发">
                <img alt="" title="棋牌开发" src="https://www.lefou666.com/images/Logo.jpg" />
            </a>
        </div>
        <div class="nmber fr">
            <span></span>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="nav">
        <div class="layout menu x_g">
            <ul>
                <li>
                    <a href="/" title="棋牌游戏开发">首页</a>
                    <span class="nav_bg"></span>
                </li>
                <li>
                    <a href="https://www.lefou666.com/qipaiyouxi.html" title="棋牌游戏开发">棋牌游戏开发</a>
                    <img src="https://www.lefou666.com/plmnhytf12f3/hot.gif" style="position: absolute;top: 5px;right: 0;width: 22px;z-index: 2;">
                    <span class="nav_bg"></span>
                </li>


                <li>
                    <a href="https://www.lefou666.com/shoujiqipai.html" title="手机棋牌定制">手机棋牌定制</a>
                    <span class="nav_bg"></span>
                </li>
                <!--<li><a href="tz.html" title="手机棋牌游戏开发">棋牌投资</a><span class="nav_bg"></span></li>-->
                <li class="over">
                    <a href="https://www.lefou666.com/news.html" title="新闻中心">新闻中心</a>
                    <span class="nav_bg"></span>
                </li>
                <li>
                    <a href="https://www.lefou666.com/Case.html" title="成功案例">成功案例</a>
                    <span class="nav_bg"></span>
                </li>
                <li>
                    <a href="https://www.lefou666.com/About.html" title="联系我们">联系我们</a>
                    <span class="nav_bg"></span>
                </li>
                <!--<li><a   href="Contact.html" title="联系我们">联系我们</a><span class="nav_bg"></span></li>-->
            </ul>
        </div>
    </div>
    <div class="clear">
    </div>
    <a href="#">
        <div class="news_banner" id='_page'> </div>
    </a>

    <div class="news_con layout1000">
        <div class="news_list">

            <ul>

                {% for v in page_data.items %}
                <li>
                    <dl>
                        <dd class="date fl">
                            <p class="ri">
                                {{v.addtime |getDay }}</p>
                            <p class="nianyue">
                                {{v.addtime |getYearMonth }}
                            </p>
                        </dd>

                        <dt>
                            <a href="/news/{{v.id}}.html" title="{{v.title}}">{{v.title}} </a>
                        </dt>
                        <dd class="text">
                            {% if v.content_desc != "" %} 
                            {{v.content_desc}}
                            {% else %}
                            {{v.content | truncate(30, True)}}
                            {% endif %}
                            
                        
                        </dd>

                    </dl>
                </li>
                {% endfor %}





            </ul>
            <div class="digg">

               {{pageContent}}
            </div>




        </div>
        <div class="news_tab">
            <ul>

                    {% for v in category %}
                        <li class="over" rel="{{v[0]}}">
                            <a title="{{v[1]}}" href="/news/{{v[0]}}_1.html">{{v[1]}}</a>
                        </li>
                    {% endfor %}
                
                
            </ul>
        </div>
    </div>
    {% extends 'design/footer.html' %}