<!doctype html>
<html lang="zh-cn">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <title>文章管理系统</title>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-light" style="background-color:#e3f2fd;">
    <div class="container">
        <a class="navbar-brand">文章管理系统</a>
        <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">{{ session['user'] }}-> 退出</a>
    </div>
</nav>
<div class="container" style="margin-top:6px;">
    {% for msg in get_flashed_messages() %}
    <p style="color:red">{{ msg }}</p>
    {% endfor %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                
                <a id="m1" href="{{ url_for('art_add')}}" class="list-group-item list-group-item-action">发布文章</a>
                <a id="m2" href="{{ url_for('art_list',page=1)}}" class="list-group-item list-group-item-action">文章列表</a>
                <a id="m3" href="{{ url_for('cat_list',page=1)}}" class="list-group-item list-group-item-action">分类列表</a>
                <a id="m4" href="{{ url_for('template_list',page=1)}}" class="list-group-item list-group-item-action">模版列表</a>

            </div>

        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">{{ title }}</div>
                <div class="card-body">
                    {% block page_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="{{ url_for('static',filename='js/jquery.slim.min.js') }}"></script>
            <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
            <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
            <script src="https://cdn.bootcss.com/holder/2.9.4/holder.js"></script>
            {% block js %}{% endblock %}
</body>
</html>